@charset "UTF-8";

header{
	position : fixed;
	top : 0;
	left : 0;
	line-height : 30px;
	height : 30px;
	font-size : 20px;
	width : 100%;
	text-align : center;
	background-color : blue;
	color : white;
}

nav{
	position : fixed;
	top : 30px;
	left : 0;
	background-color : gray;
	line-height : 20px;
	height : 20px;
	width : 100%;
}

section{
	position : fixed;
	top : 50px;
	left : 0;
	height : 100%;
	width : 100%;
	background-color : pink;
}

section > h2{
	text-align : center;
}

table{
	margin-left : auto;
	margin-right : auto;
}

footer{
	position : fixed;
	bottom : 0;
	left : 0;
	line-height : 20px;
	height : 20px;
	width : 100%;
	background-color : blue;
	color : white;
	text-align : center;
}