@charset "UTF-8";

header{
	left : 0;
	width : 100%;
	top : 0px;
	position :fixed;
	background-color : black;
	font-size : 30px;
	text-align : center;
	color : white;
}

nav{
	left : 0;
	width : 100%;
	position :fixed;
	top : 40px;
	height : 20px;
	background-color : red;
	padding-left : 20px;
	line-height : 20px;
}
section{
	width : 100%;
	position :fixed;
	top : 60px;
}

footer{
	left : 0;
	width : 100%;
	color : white;
	position :fixed;
	bottom : 0px;
	text-align : center;
	background-color : black;
}

table{
 	margin-left:auto;
 	margin-right:auto;
	text-align : left;
}

h1{
	text-align : center;
}
